<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
  <div [ngStyle]="isLoggedIn ? {'margin-left': '-18%'} : {'margin-left': '-12%'}" class="wrapper">
     <nav>
         <!-- inputs -->
        <input *ngIf="onHomeRoute" type="radio" name="tab" id="home" [checked]="true">
        <input *ngIf="!onHomeRoute"  type="radio" name="tab" id="home" [checked]="false">
        <input *ngIf="onListingsRoute" type="radio" name="tab" id="inbox" [checked]="true">
        <input *ngIf="!onListingsRoute" type="radio" name="tab" id="inbox" [checked]="false">

        <ng-container *ngIf="!isLoggedIn">
         <input *ngIf="onLoginRoute"  type="radio" name="tab" id="contact" [checked]="true">
         <input *ngIf="!onLoginRoute"  type="radio" name="tab" id="contact" [checked]="false">
         <input *ngIf="onRegisterRoute"  type="radio" name="tab" id="heart" [checked]="true">
         <input *ngIf="!onRegisterRoute"  type="radio" name="tab" id="heart" [checked]="false">
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
         <input *ngIf="onProfileRoute"  type="radio" name="tab" id="about" [checked]="true">
         <input *ngIf="!onProfileRoute" type="radio" name="tab" id="about" [checked]="false">
         <input *ngIf="onAddListingRoute" type="radio" name="tab" id="heart" [checked]="true">
         <input *ngIf="!onAddListingRoute" type="radio" name="tab" id="heart" [checked]="false">
         <input type="radio" name="tab" id="contact" [checked]="false">
        </ng-container>

        <!-- labels -->

        <label for="home" routerLink="/home" class="home"><a ><i class="fa fa-home"></i>Home</a></label>
        <label for="inbox" routerLink="/listings" class="inbox"><a href="#"><i class="fas fa-car"></i>Listings</a></label>

        <ng-container *ngIf="!isLoggedIn">
         <label routerLink="/auth/login" for="contact" class="contact"><a href="#"><i class="far fa-user"></i>Login</a></label>
         <label for="heart" routerLink="/auth/register" class="heart"><a><i class="far fa-user"></i>Register</a></label>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
         <label for="contact" class="contact"><a href="#"><i class="far fa-heart"></i>Liked</a></label>
         <label routerLink="/add-listing" for="heart" class="heart"><a><i class="fa fa-tags"></i>New listing</a></label>
         <label for="about" routerLink="/auth/profile" class="about"><a><i class="far fa-user"></i>{{username}}</a></label>
        </ng-container>

        <div *ngIf="isLoggedIn" [ngStyle]="{'width': '20.2%'}" class="tab"></div>
        <div *ngIf="!isLoggedIn" [ngStyle]="{'width': '25%', '--transVal': '1.25'}" class="tab"></div>
     </nav>
  </div>