<h1>Most recent listings</h1>
<div class="car-cards-container">
    <div *ngFor="let carCard of themesList" class="product-card">
        <div class="logo-cart">
            <!--<img src="images/logo.jpg" alt="logo">-->
            <!-- <i class='far fa-heart'></i> -->
        </div>
        <div [routerLink]="carCard._id" class="main-images">
            <img id="carImage" src={{carCard.imageUrl}}>
        </div>
            <div [routerLink]="carCard._id" class="shoe-details">
                <span class="car_name">{{carCard.themeName}}</span>
                <p>{{carCard.transmission}}</p>
                <div class="year-container">
                    <span>{{carCard.year}}</span>   
                </div>
        </div>
        <div class="price">
            <span class="price_num">${{carCard.price}}</span>
        </div>
        <div [routerLink]="carCard._id" class="car-details-backround"></div>
    </div>
</div>