<!-- <div class="container" *ngIf="theme">
  <div class="theme-content">
    <div class="theme-title">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <h2>{{ theme.themeName }}</h2>
          <p>
            Date: <time>{{ theme.created_at }}</time>
          </p>
        </div>
        <div class="subscribers">
          <p>
            Subscribers: <span>{{ theme.subscribers.length }}</span>
          </p> -->
          <!-- <button class="subscribe">Subscribe</button>
                    <button class="unsubscribe">Unsubscribe</button> -->
        <!-- </div>
      </div>
    </div>

    <div class="comment" *ngFor="let post of theme.posts">
      <header class="header">
        <p>
          <span>{{ post.userId.username }}</span> posted on
          <time>{{ post.created_at }}</time>
        </p>
      </header>
      <div class="comment-main">
        <div class="userdetails">
          <img src="/assets/profile.png" alt="avatar" />
        </div>
        <div class="post-content">
          <p>
            {{ post.text }}
          </p>
        </div>
      </div>
      <div class="footer">
        <p>
          <span> {{ post.likes.length }}</span> likes
        </p>
      </div>
    </div>

    <div class="answer-comment" *ngIf="isLogged">
      <p><span>currentUser</span> comment:</p>
      <div class="answer">
        <form>
          <textarea name="postText" id="comment" cols="30" rows="10"></textarea>
          <button>Post</button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="container" *ngIf="theme">
 
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img data-image="black" src="{{theme.imageUrl}}" alt="">
  </div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>{{theme.created_at | elapsedTime}}</span>
      <h1>{{theme.themeName}}</h1>
      <div class="grid-container">
        <div class="grid-text">Transmission: {{theme.transmission}}</div>
        <div class="year-container">
          <span>{{theme.year}}</span>   
      </div>
      </div>
      <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and
         high isolation. Sturdy headband and on-ear cushions suitable for live performance The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and</p>
    </div>
    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{theme.price}}$</span>
    </div>
    <p class="border"></p>
    <div class="contacts">
      <p>Owner: {{theme.userId.username}}</p>
      <p>Contact: {{theme.userId.tel}}</p>
    </div>
  </div>
</div>
