<div class="container" *ngIf="theme">
  <div class="left-column">
    <img data-image="black" src="{{theme.imageUrl}}" alt="">
  </div>
 
  <div class="right-column">

    <div class="product-description">
      <span>{{theme.created_at | elapsedTime}}</span>
      <h1>{{theme.themeName}}<i *ngIf="theme.userId.email == user?.email" routerLink='/edit-listing/{{theme._id}}' class="fas fa-edit"></i></h1>
      <div class="grid-container">
        <div class="grid-text">Transmission: {{theme.transmission}}</div>
        <div class="year-container">
          <span>{{theme.year}}</span>   
      </div>
      </div>
      <p>{{theme.description}}</p>
    </div>
    <div class="product-price">
      <span>{{theme.price}}$</span>
    </div>
    <p class="border"></p>
    <div class="contacts">
      <p>Owner: {{theme.userId.username}}</p>
      <p>Contact: {{theme.userId.tel}}</p>
    </div>
  </div>
</div>
