<main>
  <div *ngIf="isLoading">
    <app-loader />
  </div>

  <div class="welcome-comp">
    <app-welcome />
  </div>

  <div class="theme-title" *ngIf="!isLoading">
    <div *ngFor="let theme of themesList" class="theme-container">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <a [routerLink]="theme._id" class="normal">
            <h2>{{ theme.themeName | slice : 25 }}</h2>
          </a>
          <div class="columns">
            <div>
              <p>
                Date: <time>{{ theme.created_at }}</time>
              </p>
              <div class="nick-name">
                <p>
                  Username: <span>{{ theme.userId.username }}</span>
                </p>
              </div>
            </div>
            <div class="subscribers">
              <button *ngIf="isLogged" class="subscribe">Subscribe</button>
              <p>
                Subscribers: <span>{{ theme.subscribers.length }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Most recent listings</h1>
<div class="car-cards-container">
    <div *ngFor="let theme of themesList" class="product-card">
        <div class="logo-cart">
            <!--<img src="images/logo.jpg" alt="logo">-->
            <i class='far fa-heart'></i>
        </div>
        <div class="main-images">
            <img id="carImage" src='https://media.ed.edmunds-media.com/bmw/m8/2020/oem/2020_bmw_m8_coupe_competition_fq_oem_1_1600.jpg'>
        </div>
            <div class="shoe-details">
                <span class="car_name">{{ theme.themeName | slice : 25 }}</span>
                <p>{{ theme.created_at }}</p>
                <div class="year-container">
                    <span>{{ theme.userId.username }}</span>   
                </div>
        </div>
        <div class="price">
            <span class="price_num">99999$</span>
        </div>
        <div class="car-details-backround"></div>
    </div>
</div>

</main>
