<div class="wrapper">
  <div class="title">
    Login here
  </div>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <div class="field">
      <input type="text" name="email" ngModel
      #inputEmail="ngModel" required [appEmail]="appEmailDomains">
      <label>Email Address</label>
    </div>
    <ng-container *ngIf="inputEmail.touched">
      <p class="error" *ngIf="inputEmail.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
        Email is not valid!
      </p>
    </ng-container>
    <div class="field">
      <input name="password" type="password" id="password" #inputPassword="ngModel" ngModel
      required minlength="5">
      <label>Password</label>
    </div>
    <ng-container *ngIf="inputPassword.touched">
      <p class="error" *ngIf="inputPassword.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="inputPassword.errors?.['minlength']">
        Password must be at least
        {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
      </p>
    </ng-container>
    <div class="submit-field">
      <input [disabled]="form.invalid" id="submit" type="submit" value="Login">
    </div>
    <div class="signup-link">
      Not a member? <a routerLink="/auth/register">Signup now</a>
    </div>
  </form>
</div>